/*header*/
.header {
    background-color: #1383d7;
    color: white;
    padding: 10px 0 0 0;
}

.header__logo {
    text-align: center;
}

.header__ui__inline li {
    color: white;
    font-size: 12px;
    margin: 5px 5px;
    display: inline;
}

.header__ui__li__a__white {
    color: white;
}

.header__ui__padding {
    padding-bottom: 5px !important;
}

.main__div__text {
    color: #1383d7;
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
}

/*news*/

.news {
    position: relative;
}

.news__img {
    height: 300px;
    background: url("../img/doctors.jpg");
    -webkit-filter: blur(15px);
	filter: blur(15px);
}

.news__background__blue {
    width: 100%;
    position: absolute;
    top: -20px;
    height: 115%;
    background-color: rgba(62, 161, 215, 0.4);
}

.news__text__blue {
    position: absolute;
    top: 0;
    left: 17%;
    font-size: 24px;
    color: #0f67a7;
}

.news__slider {
    position: absolute;
    top: 15%;
    left: 15%;
}

.news__slider__height {
    height: 250px !important;
}

.news__slider__ul__height {
    height: 200px !important;
}

.news__slider__img {
    width: 200px !important;
    height: 200px !important;
}

.news__slider__text__title {
    color: #0f67a7;
    font-size: 18px;

}

.news__slider__text__description {
    font-size: 12px;

}

/*slider color*/
.slider .slides {
     background-color: rgba(253, 248, 255, 0.6);
}
/**/

/*slider view*/
.slider .slides li .caption {
    top: 0;
    left: 1.2%;
}
/**/

/*slider menu colour active*/
.slider .indicators .indicator-item.active {
    background-color: #1383d7;
    border: none;
}
/**/

/*slider menu color*/
 .slider .indicators .indicator-item {
     background-color: white;
     border: 1px solid rgba(0,0,0,0.5);
 }
