<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>НИИ Урологии</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mine.css' %}">
    <link rel="stylesheet" href="{% static 'css/timeline/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/timeline/style.css' %}">
    <script src="{% static 'js/timeline/modernizr.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<header class="header">
    <div class="container">
         <div class="row">
            <div class="col s12 m4 l4 header__logo">
                НИИ урологии и интервенционной радиологии им. Н.А. Лопаткина
            </div>
            <div class="nav-wrapper col s12 m8 l8 header__ui__padding">
                <ul class="hide-on-med-and-down header__ui__inline">
                    <li><a href="#" class="header__ui__li__a__white">Новости</a></li>
                    <li><a href="#" class="header__ui__li__a__white">Обучение</a></li>
                    <li><a href="#" class="header__ui__li__a__white">Мероприятия</a></li>
                    <li><a href="#" class="header__ui__li__a__white">Сотрудничество</a></li>
                    <li><a href="#" class="header__ui__li__a__white">Контакты</a></li>
                    <li style="font-size: 18px;">8 (499) 110-40-67</li>
                </ul>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container main__div__text">
        <div class="row">
            <div class="col s12">
                НИИ урологии и интервенционной радиологии им. Н.А. Лопаткина - ведущий российский научно-эспериментальный,
                методический и лечебный центр
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    {% include 'clinic_app/learning.html' %}
    {% include 'clinic_app/events.html' %}
    {% include 'clinic_app/labs_photos.html' %}
    {% include 'clinic_app/partners.html' %}
    {% include 'clinic_app/info.html' %}
    {% include 'clinic_app/location.html' %}

</main>

<footer>

</footer>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/mine.js' %}"></script>
<script src="{% static 'js/timeline/jquery.mobile.custom.min.js' %}"></script>
<script src="{% static 'js/timeline/main.js' %}"></script>
</body>
</html>