<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>НИИ Урологии</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mine.css' %}">
    <link rel="stylesheet" href="{% static 'css/timeline/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/timeline/style.css' %}">
    <script src="{% static 'js/timeline/modernizr.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<header class="header">
    <div class="container">
         <div class="row">
            <div class="col s12 m4 l4 header__logo">
                НИИ урологии и интервенционной радиологии им. Н.А. Лопаткина
            </div>
            <div class="nav-wrapper col s12 m8 l8 header__ui__padding">
                <ul class="hide-on-med-and-down header__ui__inline">
                    <li><a href="#" class="header__ui__li__a__white">Новости</a></li>
                    <li><a href="#" class="header__ui__li__a__white">Обучение</a></li>
                    <li><a href="#" class="header__ui__li__a__white">Мероприятия</a></li>
                    <li><a href="#" class="header__ui__li__a__white">Сотрудничество</a></li>
                    <li><a href="#" class="header__ui__li__a__white">Контакты</a></li>
                    <li>8(800)333-03-03</li>
                </ul>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container main__div__text">
        <div class="row">
            <div class="col s12">
                НИИ урологии и интервенционной радиологии им. Н.А. Лопаткина - ведущий российский научно-эспериментальный,
                методический и лечебный центр
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <div class="info">
        <div class="container">
            <div class="row">
                <div class="col s12 m4 l4 info__div__text__center__blue">
                    <h4>
                        ХХ единиц
                    </h4>
                    <p>
                        современного оборудования
                    </p>
                </div>
                <div class="col s12 m4 l4 info__div__text__center__blue">
                    <h4>
                        36 лет
                    </h4>
                    <p>
                        успешной работы
                    </p>
                </div>
                <div class="col s12 m4 l4 info__div__text__center__blue">
                    <h4>
                        9 отраслей
                    </h4>
                    <p>
                        уронефрологии
                    </p>
                </div>
                <div class="col s12">
                <section class="cd-horizontal-timeline">
                    <div class="timeline">
                        <div class="events-wrapper">
                            <div class="events">
                                <ol>
                                    <li><a href="#0" data-date="16/01/2014" class="selected">16 Jan</a></li>
                                    <li><a href="#0" data-date="28/02/2014">28 Feb</a></li>
                                    <li><a href="#0" data-date="20/04/2014">20 Mar</a></li>
                                    <li><a href="#0" data-date="20/05/2014">20 May</a></li>
                                    <li><a href="#0" data-date="09/07/2014">09 Jul</a></li>
                                    <li><a href="#0" data-date="30/08/2014">30 Aug</a></li>
                                    <li><a href="#0" data-date="15/09/2014">15 Sep</a></li>
                                    <li><a href="#0" data-date="01/11/2014">01 Nov</a></li>
                                    <li><a href="#0" data-date="10/12/2014">10 Dec</a></li>
                                    <li><a href="#0" data-date="19/01/2015">29 Jan</a></li>
                                    <li><a href="#0" data-date="03/03/2015">3 Mar</a></li>
                                </ol>

                                <span class="filling-line" aria-hidden="true"></span>
                            </div>
                            <!-- .events -->
                        </div>
                        <!-- .events-wrapper -->

                        <ul class="cd-timeline-navigation">
                            <li><a href="#0" class="prev inactive">Prev</a></li>
                            <li><a href="#0" class="next">Next</a></li>
                        </ul>
                        <!-- .cd-timeline-navigation -->
                    </div>
                    <!-- .timeline -->

                    <div class="events-content">
                        <ol>
                            <li class="selected" data-date="16/01/2014">
                                <h2>Horizontal Timeline</h2>
                                <em>January 16th, 2014</em>

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia,
                                    fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                                    hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                    reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam,
                                    quae, temporibus dolores porro doloribus.
                                </p>
                            </li>

                            <li data-date="28/02/2014">
                                <h2>Event title here</h2>
                                <em>February 28th, 2014</em>

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia,
                                    fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                                    hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                    reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam,
                                    quae, temporibus dolores porro doloribus.
                                </p>
                            </li>

                            <li data-date="20/04/2014">
                                <h2>Event title here</h2>
                                <em>March 20th, 2014</em>

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia,
                                    fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                                    hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                    reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam,
                                    quae, temporibus dolores porro doloribus.
                                </p>
                            </li>

                            <li data-date="20/05/2014">
                                <h2>Event title here</h2>
                                <em>May 20th, 2014</em>

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia,
                                    fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                                    hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                    reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam,
                                    quae, temporibus dolores porro doloribus.
                                </p>
                            </li>

                            <li data-date="09/07/2014">
                                <h2>Event title here</h2>
                                <em>July 9th, 2014</em>

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia,
                                    fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                                    hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                    reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam,
                                    quae, temporibus dolores porro doloribus.
                                </p>
                            </li>

                            <li data-date="30/08/2014">
                                <h2>Event title here</h2>
                                <em>August 30th, 2014</em>

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia,
                                    fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                                    hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                    reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam,
                                    quae, temporibus dolores porro doloribus.
                                </p>
                            </li>

                            <li data-date="15/09/2014">
                                <h2>Event title here</h2>
                                <em>September 15th, 2014</em>

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia,
                                    fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                                    hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                    reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam,
                                    quae, temporibus dolores porro doloribus.
                                </p>
                            </li>

                            <li data-date="01/11/2014">
                                <h2>Event title here</h2>
                                <em>November 1st, 2014</em>

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia,
                                    fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                                    hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                    reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam,
                                    quae, temporibus dolores porro doloribus.
                                </p>
                            </li>

                            <li data-date="10/12/2014">
                                <h2>Event title here</h2>
                                <em>December 10th, 2014</em>

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia,
                                    fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                                    hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                    reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam,
                                    quae, temporibus dolores porro doloribus.
                                </p>
                            </li>

                            <li data-date="19/01/2015">
                                <h2>Event title here</h2>
                                <em>January 19th, 2015</em>

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia,
                                    fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                                    hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                    reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam,
                                    quae, temporibus dolores porro doloribus.
                                </p>
                            </li>

                            <li data-date="03/03/2015">
                                <h2>Event title here</h2>
                                <em>March 3rd, 2015</em>

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia,
                                    fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque
                                    hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi
                                    reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam,
                                    quae, temporibus dolores porro doloribus.
                                </p>
                            </li>
                        </ol>
                    </div>
                    <!-- .events-content -->
                </section>
            </div>
            </div>
        </div>
    </div>

</main>

<footer>

</footer>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/mine.js' %}"></script>
<script src="{% static 'js/timeline/jquery.mobile.custom.min.js' %}"></script>
<script src="{% static 'js/timeline/main.js' %}"></script>
</body>
</html>