<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>НИИ Урологии</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mine.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<header class="header">
    <div class="container">
         <div class="row">
            <div class="col s12 m4 l4 header__logo">
                НИИ урологии и интервенционной радиологии им. Н.А. Лопаткина
            </div>
            <div class="nav-wrapper col s12 m8 l8 header__ui__padding">
                <ul class="hide-on-med-and-down header__ui__inline">
                    <li><a href="#" class="header__ui__li__a__white">Нововсти</a></li>
                    <li><a href="#" class="header__ui__li__a__white">Обучение</a></li>
                    <li><a href="#" class="header__ui__li__a__white">Мероприятия</a></li>
                    <li><a href="#" class="header__ui__li__a__white">Сотрудничество</a></li>
                    <li><a href="#" class="header__ui__li__a__white">Контакты</a></li>
                    <li>8(800)333-03-03</li>
                </ul>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container main__div__text">
        <div class="row">
            <div class="col s12">
                НИИ урологии и интервенционной радиологии им. Н.А. Лопаткина - ведущий российский научно-эспериментальный,
                методический и лечебный центр
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}
    <div class = "learning" style = "padding-bottom: 20px;">
        <div class = "container">
            <div class="row">
                <div class="col s12 learning__title">
                    Высококвалифицированные специалисты мирового уровня
                </div>
            </div>
            <div class="row">
                    <div class = "learning__label">
                        ОБУЧЕНИЕ
                    </div>
            </div>
            <div class="row learning__types">
                <div class="col l4 m4 s12" align = "center">
                    <div class="card">
                        <div class="card-content">
                            <h3 align="center">30</h3>
                            <p align="center">
                                докторов <br> медицинских наук
                            </p>
                        </div>
                        <div class="card-image" >
                            <img src="{% static 'img/doc_of_med.png' %}">
                        </div>
                    </div>
                    <div class = "card__low_button" style = "padding-bottom: 10px;">
                        ОРДИНАТУРА
                    </div>
                </div>
                <div class = "col l4 m4 s12" align = "center">
                     <div class="card">
                        <div class="card-content">
                            <h3 align="center">50</h3>
                            <p align="center">
                                кандидатов <br> медицинских наук
                            </p>
                        </div>
                        <div class="card-image" >
                            <img src="{% static 'img/cand_of_med.png' %}">
                        </div>

                    </div>
                    <div class = "card__low_button">
                        АСПИРАНТУРА
                    </div>
                </div>
                <div class = "col l4 m4 s12" align = "center">
                    <div class="card">
                        <div class="card-content">
                            <h3 align="center">100</h3>
                            <p align="center">
                                научных <br>работников
                            </p>
                        </div>
                        <div class="card-image" >
                            <img src="{% static 'img/science_of_med.png' %}">
                        </div>


                    </div>
                    <div class = "card__low_button">
                        ДОКУМЕНТЫ
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class = "events">
        <div class = "row">
            <div class="container">
                <div class="col s12 m4 l4 event__counter" align="center">
                    <h4>XX</h4>
                    научных публикаций
                </div>
                <div class="col s12 m4 l4 event__counter" align="center">
                    <h4>XX</h4>
                    конференций
                </div>
                <div class="col s12 m4 l4 event__counter" align="center">
                    <h4>XX</h4>симпозиумов
                </div>
            </div>
        </div>
        <div class = "row event__photo_holder">
            <div class = "row event__list">
            <div class = "container">
                <div class="col s12 m4 l4 event__logo_holder" align="center">
                    <div class = "event__logo">
                        <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg' />
                    </div>
                    <div class = "event__list_text">
                        <h6>ТЕКУЩИЕ</h6>
                    </div>

                </div>
                <div class="col s12 m4 l4 event__logo_holder" align="center">
                    <div class = "event__logo">
                        <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg' />
                    </div>
                    <div class = "event__list_text">
                        <h6>ПРОШЕДШИЕ</h6>
                    </div>
                </div>
                <div class="col s12 m4 l4 event__logo_holder" align="center">
                    <div class = "event__logo">
                        <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg' />
                    </div>
                    <div class = "event__list_text">
                        <h6>ПЛАНИРУЕМЫЕ</h6>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>
    <div class = "partners">
        <div class = "row">
            <div class = "container">
                <div class="col s12 m4 l4 partners__holder">
                    <div class = "partners__big_circle">
                     <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg' />
                        <div class = "partners__small_circle">
                        <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg' />
                        </div>
                        <span class = "partners__circle_span">страховых компаний</span>
                    </div>

                </div>
                 <div class="col s12 m4 l4 partners__holder">
                    <div class = "partners__big_circle">
                        <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg' />
                        <div class = "partners__small_circle">
                            <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg' />
                        </div>
                        <span class = "partners__circle_span">компаний партнеров</span>
                    </div>


                </div>
                 <div class="col s12 m4 l4 partners__holder">
                    <div class = "partners__big_circle">
                        <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg' />
                        <div class = "partners__small_circle" align = "center">
                         <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg' />
                        </div>
                        <span class = "partners__circle_span">сотрудников</span>
                    </div>

                </div>
            </div>
        </div>
        <div class = "row partners__pictures">
            <div class = "container partners__container">

                <div class="col s12 m4 l4 partners__picture" >
                     <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg' />
                     <span class = "partners__picture__desc">
                         СТРАХОВЫЕ<br>КОМПАНИИ
                     </span>
                </div>

                <div class="col s12 m4 l4 partners__picture">
                     <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg' />
                     <span class = "partners__picture__desc">
                         ПАРТНЕРЫ
                     </span>
                </div>

                <div class="col s12 m4 l4 partners__picture" >
                     <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg' />
                     <span class = "partners__picture__desc">
                         ВАКАНСИИ
                     </span>
                </div>
            </div>
        </div>
    </div>
    <div class = "location">
        <div class="row location__uprow">
            <div class = "container">
                <div class="col s12 m4 l4">
                    <h5>Контакты</h5>
                    <h6>Адрес:</h6>
                    <span class = "contacts__small_text">105425, Москва, ул. 3-я Парковая, 51</span>
                    <h6>Как добраться</h6>
                     <div class = "map__zagluhka__da__mne__pohui__na__bem__ebaniy" style = "width: 120px;
                    height:150px;
                    background-color: #004d40;
                    margin-top: 10px;
                    margin-left: 20px;">
                         </div>
                    <span class = "contacts__small_text">С удовольствием ответим на Ваши вопросы</span>
                </div>
                <div class="col s12 m8 l8">
                    <div class = "map__zagluhka__da__mne__pohui__na__bem__ebaniy" style = "width: 450px;
                    height:250px;
                    background-color: #004d40;
                    margin-top: 40px;
                    margin-left: 20px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row location__downrow">
            <div class="container">
                <div class="col s12 m4 l4" style = "padding-top: 30px;">
                    <span class = "contacts__small_text">Выберите любой удобный способ связаться с нами:</span>
                    <br><br>
                    <span class = "contacts__small_text">По телефону:</span><span>+X(XXX)XXX-XX-XX</span>
                    <br>
                    <span class = "contacts__small_text">По email:</span><span>XXX-XX-XX@yandex.ru</span>
                    <br>
                    <span class = "contacts__small_text">Заполнив форму:</span>
                </div>
                <div class="col s12 m8 l8">
                     <div class = "forma__zagluhka__da__mne__pohui__na__bem__ebaniy" style = "width: 450px;
                    height:200px;
                    background-color: #004d40;
                    margin-top: 40px;
                    margin-left: 20px;">
                </div>
            </div>
        </div>
    </div>
{#    <div class = "smth_to_test" style = "height: 300px; background-color: red">#}
    </div>
</main>


<footer>

</footer>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/mine.js' %}"></script>
</body>
</html>