{% load staticfiles %}
<div class="events">
    <div class="row">
        <div class="container">
            <div class="col s12 m4 l4 event__counter" align="center">
                <h2>3000</h2>
                научных публикаций
            </div>
            <div class="col s12 m4 l4 event__counter" align="center">
                <h2>500</h2>
                конференций
            </div>
            <div class="col s12 m4 l4 event__counter" align="center">
                <h2>70</h2>
                симпозиумов
            </div>
        </div>
    </div>
    <div class="row event__photo_holder">
        <div class="row event__list">
            <div class="container">
                <div class="col s12 m4 l4 event__logo_holder" align="center">
                    <div class="event__logo">
                        <img src="{% static 'img/microphone.jpg' %}"/>
                    </div>
                    <div class="event__list_text">
                        <h4>ТЕКУЩИЕ</h4>
                    </div>

                </div>
                <div class="col s12 m4 l4 event__logo_holder" align="center">
                    <div class="event__logo">
                        <img src="{% static 'img/event_passed.jpg' %}"/>
                    </div>
                    <div class="event__list_text">
                        <h4>ПРОШЕДШИЕ</h4>
                    </div>
                </div>
                <div class="col s12 m4 l4 event__logo_holder" align="center">
                    <div class="event__logo">
                        <img src={% static 'img/event_plan.jpg' %}/>
                    </div>
                    <div class="event__list_text">
                        <h4>ПЛАНИРУЕМЫЕ</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>