<div class="tree_cards">
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <div class="card hover__yellow">
                    <div class="card-content header__text__center">
                        <h3>8</h3>

                        <p>клинических отделений</p>
                    </div>
                    <div class="card-content content__blue">
                        <p>
                            <a href="#">
                            Объединенная клиническо-диагностическая лаборатория
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Лаборатория патологической анатомии
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Лаборатория биохимии
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Лаборатория уродинамических исследований
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Лаборатория УЗИ
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Лаборатория экспериментального моделирования урологических заболеваний
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Отделение рентгенологии и ангиографии
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Радиоизотопная лаборатория
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card hover__yellow">
                    <div class="card-content header__text__center">
                        <h3>
                            11
                        </h3>
                        <p>
                            научных отделов
                        </p>
                    </div>
                    <div class="card-content content__blue">
                        <p>
                            <a href="">
                                Организационно методический отдел
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Отдел реконструктивной уронефрологии
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Отдел андрологии и репродукции человека
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Отдел инфекционно-воспалительных урологических заболеваний
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Отдел эндоурологии
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Отдел детской урологии
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Отдел онкорурологии
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Отдел развития региональной урологии
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Инновационный отдел с группой организации клинических исследований
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Консультативнй отдел
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Отдел лучевыз методов диагностики и лечения
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card hover__yellow">
                    <div class="card-content header__text__center">
                        <h3>
                            8
                        </h3>
                        <p>
                            лабораторий
                        </p>
                    </div>
                    <div class="card-content content__blue">
                        <p>
                            <a href="#">
                                Объединенная клинико-диагностическая лаборатория
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Лаборатория паталогической анатомии
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Лаборатория биохимии
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Лаборатория уродинамических исследований
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Лаборатория УЗИ
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Лаборатория экспериментального моделирования урологических заболеваинй
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Отделение рентгенологии и ангиографии
                            </a>
                        </p>
                        <p>
                            <a href="#">
                                Радиоизотопная лаборатория
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="photo_slider">
    <div class="col s12">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="http://lorempixel.com/580/250/nature/1">

                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/2">

                    <div class="caption left-align">
                        <h3>Left Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/3">
                    <div class="caption right-align">
                        <h3>Right Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/4">
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>