{% load staticfiles %}
<div class="learning" style="padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col s12 learning__title">
                Высококвалифицированные специалисты мирового уровня
            </div>
        </div>
        <div class="row">
            <div class="learning__label">
                ОБУЧЕНИЕ
            </div>
        </div>
        <div class="row learning__types">
            <div class="col l4 m4 s12" align="center">
                <div class="card">
                    <div class="card-content learning__card__header__text__blue">
                        <h3 align="center">20</h3>

                        <p align="center">
                            докторов <br> медицинских наук
                        </p>
                    </div>
                    <div class="card-image">
                        <img src="{% static 'img/doc_of_med.png' %}">
                    </div>
                </div>
                <div class="card__low_button" style="padding-bottom: 10px;">
                    <a class="modal-trigger" href="#oder">ОРДИНАТУРА</a>
                </div>
                <div id="oder" class="modal">
                    <div class="modal-content">
                        <ul class="collection">
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BF%D1%80%D0%BE%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B2%D1%81%D1%82%D1%83%D0%BF%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D1%85%20%D0%B8%D1%81%D0%BF%D1%8B%D1%82%D0%B0%D0%BD%D0%B8%D0%B9%20%D0%B2%20%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B0%D1%82%D1%83%D1%80%D1%83_0.pdf">
                                    Порядок проведения вступительных испытаний в ординатуру
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BE%20%D0%B7%D0%B0%D1%87%D0%B8%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D0%B8%20%D0%B2%20%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B0%D1%82%D1%83%D1%80%D1%83%20%D0%BD%D0%B0%20%D0%B4%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%D0%BD%D0%BE%D0%B9%20%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D0%B5_0.pdf">
                                    Приказ о зачислении в ординатуру на договорной основе 2015
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BE%20%D0%B7%D0%B0%D1%87%D0%B8%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D0%B8%20%D0%B2%20%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B0%D1%82%D1%83%D1%80%D1%83_0.pdf">
                                    Приказ о зачислении в ординатуру 2015
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BF%D0%BB%D0%B0%D0%BD%20-%20%D0%BE%D0%B4%D0%B8%D0%BD%D0%B0%D1%82%D1%83%D1%80%D0%B0.pdf">
                                    Учебный план - ординатура 2015-2017
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B0%D1%82%D1%83%D1%80%D0%B0%20%D1%81%20%D0%9E%D0%B1%D1%83%D1%87%D0%B0%D1%8E%D1%89%D0%B8%D0%BC%D1%81%D1%8F%202016.doc">
                                    Договор ординатура с Обучающимся 2016
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%B2%20%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B0%D1%82%D1%83%D1%80%D1%83%202016%20%D0%B3..doc">
                                    Заявление в ординатуру 2016 г.
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%B2%D0%BE%D0%BF%D1%80%D0%BE%D1%81%D0%BE%D0%B2%20%D0%B4%D0%BB%D1%8F%20%D1%8D%D0%BA%D0%B7%D0%B0%D0%BC%D0%B5%D0%BD%D0%B0%20%D0%BF%D0%BE%20%D1%81%D0%BF%D0%B5%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D0%B8%20%D0%A3%D1%80%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F%20(%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B0%D1%82%D1%83%D1%80%D0%B0).docx">
                                    Перечень вопросов для экзамена по специальности Урология (ординатура) 2016
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BE%20%D0%BF%D1%80%D0%B8%D0%B5%D0%BC%D0%BD%D0%BE%D0%B9%20%D0%BA%D0%BE%D0%BC%D0%B8%D1%81%D1%81%D0%B8%D0%B8%20%D0%B2%20%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B0%D1%82%D1%83%D1%80%D0%B5.pdf">
                                    Положение о приемной комиссии в ординатуре
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BE%D0%B1%20%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B0%D1%82%D1%83%D1%80%D0%B5%20%D0%9D%D0%98%D0%98%20%D1%83%D1%80%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D0%B8%20%D0%B8%20%D0%98%D0%A0%20%D1%80%D0%B0%D0%B4%D0%B8%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D0%B8%20%D0%B8%D0%BC.%20%D0%9D.%D0%90.%20%D0%9B%D0%BE%D0%BF%D0%B0%D1%82%D0%BA%D0%B8%D0%BD%D0%B0.pdf">
                                    Положение об ординатуре НИИ урологии и ИР радиологии им. Н.А. Лопаткина
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%B4%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D0%BE%D0%B2%20%D0%B4%D0%BB%D1%8F%20%D0%BF%D0%BE%D1%81%D1%82%D1%83%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B2%20%D0%9E%D1%80%D0%B4%D0%B8%D0%BD%D0%B0%D1%82%D1%83%D1%80%D1%83.doc">
                                    Список документов для поступления в Ординатуру
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BF%D1%80%D0%B8%D0%B5%D0%BC%D0%B0%20%D0%BF%D0%BE%20%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0%D0%BC%20%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B0%D1%82%D1%83%D1%80%D1%8B_0.pdf">
                                    Правила приема по программам ординатуры
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BF%D1%80%D0%BE%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B2%D1%81%D1%82%D1%83%D0%BF%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D1%85%20%D0%B8%D1%81%D0%BF%D1%8B%D1%82%D0%B0%D0%BD%D0%B8%D0%B9%202016_1.docx">
                                    График проведения вступительных испытаний 2016
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col l4 m4 s12" align="center">
                <div class="card">
                    <div class="card-content learning__card__header__text__blue">
                        <h3 align="center">54</h3>

                        <p align="center">
                            кандидатов <br> медицинских наук
                        </p>
                    </div>
                    <div class="card-image">
                        <img src="{% static 'img/cand_of_med.png' %}">
                    </div>

                </div>
                <div class="card__low_button">
                    <a class="modal-trigger" href="#asp">АСПИРАНТУРА</a>
                </div>
                <div id="asp" class="modal">
                    <div class="modal-content">
                        <ul class="collection">
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D1%84%D0%B8%D0%BB%D0%BE%D1%81%D0%BE%D1%84%D0%B8%D1%8F_1.pdf">
                                    Программа философия (.pdf)
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%98%D0%BD%D0%BE%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%BD%D1%8B%D0%B9%20%D1%8F%D0%B7%D1%8B%D0%BA_1.pdf">
                                    Программа Иностранный язык (.pdf)
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BE%20%D0%B7%D0%B0%D1%87%D0%B8%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D0%B8%20%D0%B2%20%D0%B0%D1%81%D0%BF%D0%B8%D1%80%D0%B0%D0%BD%D1%82%D1%83%D1%80%D1%83%20%D0%BD%D0%B0%20%D0%B4%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%D0%BD%D0%BE%D0%B9%20%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D0%B5_0.pdf">
                                    Приказ о зачислении в аспирантуру на договорной основе 2015
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BE%20%D0%B7%D0%B0%D1%87%D0%B8%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D0%B8%20%D0%B2%20%D0%B0%D1%81%D0%BF%D0%B8%D1%80%D0%B0%D0%BD%D1%82%D1%83%D1%80%D1%83_0.pdf">
                                    Приказ о зачислении в аспирантуру 2015
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BF%D0%BB%D0%B0%D0%BD%20-%20%D0%B0%D1%81%D0%BF%D0%B8%D1%80%D0%B0%D0%BD%D1%82%D1%83%D1%80%D0%B0.pdf">
                                    Учебный план - аспирантура 2015-2018
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%B0%D1%81%D0%BF%D0%B8%D1%80%D0%B0%D0%BD%D1%82%D1%83%D1%80%D0%B0%20%D1%81%20%D0%9E%D0%B1%D1%83%D1%87%D0%B0%D1%8E%D1%89%D0%B8%D0%BC%D1%81%D1%8F%202016.doc">
                                    Договор аспирантура с Обучающимся 2016
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%B2%20%D0%B0%D1%81%D0%BF%D0%B8%D1%80%D0%B0%D0%BD%D1%82%D1%83%D1%80%D1%83%202016%20%D0%B3..doc">
                                    Заявление в аспирантуру 2016 г.
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%B2%D0%BE%D0%BF%D1%80%D0%BE%D1%81%D0%BE%D0%B2%20%D0%BF%D0%BE%20%D1%81%D0%BF%D0%B5%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D0%B8%20%D0%A3%D1%80%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F.doc">
                                    Перечень вопросов для вступительных испытаний по специальности Урология (Аспирантура)
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BE%D0%B1%20%D0%B0%D1%81%D0%BF%D0%B8%D1%80%D0%B0%D0%BD%D1%82%D1%83%D1%80%D0%B5%20%D0%9D%D0%98%D0%98%20%D1%83%D1%80%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D0%B8%20%D0%B8%20%D0%98%D0%A0%20%D1%80%D0%B0%D0%B4%D0%B8%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D0%B8%20%D0%B8%D0%BC.%20%D0%9D.%D0%90.%20%D0%9B%D0%BE%D0%BF%D0%B0%D1%82%D0%BA%D0%B8%D0%BD%D0%B0.pdf">
                                    Положение об аспирантуре НИИ урологии и ИР радиологии им. Н.А. Лопаткина
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BF%D1%80%D0%B8%D0%B5%D0%BC%D0%B0%20%D0%BF%D0%BE%20%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0%D0%BC%20%D0%B0%D1%81%D0%BF%D0%B8%D1%80%D0%B0%D0%BD%D1%82%D1%83%D1%80%D1%8B.pdf">
                                    Правила приема по программам аспирантуры
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%B4%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D0%BE%D0%B2%20%D0%B4%D0%BB%D1%8F%20%D0%BF%D0%BE%D1%81%D1%82%D1%83%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B2%20%D0%90%D1%81%D0%BF%D0%B8%D1%80%D0%B0%D0%BD%D1%82%D1%83%D1%80%D1%83.doc">
                                    Список документов для поступления в Аспирантуру
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href=http://doc.uroline.ru/sites/default/files/%20%D0%B2%D1%81%D1%82%D1%83%D0%BF%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D1%85%20%D0%B8%D1%81%D0%BF%D1%8B%D1%82%D0%B0%D0%BD%D0%B8%D0%B9%20%D0%B0%D1%81%D0%BF%D0%B8%D1%80%D0%B0%D0%BD%D1%82%D1%83%D1%80%D0%B0.docx"">
                                    График приема вступительных испытаний в аспирантуру
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BE%20%D0%BF%D1%80%D0%B8%D0%B5%D0%BC%D0%BD%D0%BE%D0%B9%20%D0%BA%D0%BE%D0%BC%D0%B8%D1%81%D1%81%D0%B8%D0%B8%20%D0%B2%20%D0%B0%D1%81%D0%BF%D0%B8%D1%80%D0%B0%D0%BD%D1%82%D1%83%D1%80%D0%B5_0.pdf">
                                    Положение о приемной комиссии в аспирантуре
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col l4 m4 s12" align="center">
                <div class="card">
                    <div class="card-content learning__card__header__text__blue">
                        <h3 align="center">72</h3>

                        <p align="center">
                            научных <br>работников
                        </p>
                    </div>
                    <div class="card-image">
                        <img src="{% static 'img/science_of_med.png' %}">
                    </div>


                </div>
                <div class="card__low_button" style="padding-top: 3px">
                    <a class="modal-trigger" href="#dop">ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ</a>
                </div>
                <div id="dop" class="modal">
                    <div class="modal-content">
                        <ul class="collection">
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%20%D0%A4%D0%93%D0%91%D0%A3%20%D0%9D%D0%9C%D0%98%D0%A0%D0%A6%20%D0%9C%D0%B8%D0%BD%D0%B7%D0%B4%D1%80%D0%B0%D0%B2%D0%B0%20%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8.pdf">
                                    Лицензия ФГБУ "НМИРЦ" Минздрава России
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BE%20%D0%A6%D0%B5%D0%BD%D1%82%D1%80%D0%B5%20%D0%BD%D0%B5%D0%BF%D1%80%D0%B5%D1%80%D1%8B%D0%B2%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%BC%D0%B5%D0%B4%D0%B8%D1%86%D0%B8%D0%BD%D1%81%D0%BA%D0%BE%D0%B3%D0%BE%20%D0%BE%D0%B1%D1%80%D0%B0%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F_2.pdf">
                                    Положение о Центре непрерывного медицинского образования
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BE%D0%B1%20%D0%B0%D0%BF%D0%B5%D0%BB%D0%BB%D1%8F%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D0%BE%D0%B9%20%D0%BA%D0%BE%D0%BC%D0%B8%D1%81%D1%81%D0%B8%D0%B8,%20%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0%D1%85%20%D0%BF%D0%BE%D0%B4%D0%B0%D1%87%D0%B8%20%D0%B8%20%D1%80%D0%B0%D1%81%D1%81%D0%BC%D0%BE%D1%82%D1%80%D0%B5%D0%BD%D0%B8%D0%B8%20%D0%B0%D0%BF%D0%B5%D0%BB%D0%BB%D1%8F%D1%86%D0%B8%D0%B8.pdf">
                                    Положение об апелляционной комиссии, правилах подачи и рассмотрении апелляции
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BE%20%D1%84%D0%B8%D0%BB%D0%B8%D0%B0%D0%BB%D0%B5.pdf">
                                    Положение о филиале
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D1%86%D0%B8%D1%84%D1%80%D1%8B%20%D0%BF%D1%80%D0%B8%D0%B5%D0%BC%D0%B0%202016%20%D0%B3_0.docx">
                                    Контрольные цифры приема 2016 г.
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BF%D1%80%D0%B8%D0%B5%D0%BC%D0%B0%20%D0%BF%D0%BE%20%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0%D0%BC%20%D0%B0%D1%81%D0%BF%D0%B8%D1%80%D0%B0%D0%BD%D1%82%D1%83%D1%80%D1%8B_0.pdf">
                                    Правила приема по программам аспирантуры
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BE%20%D0%BF%D1%80%D0%B8%D0%B5%D0%BC%D0%BD%D0%BE%D0%B9%20%D0%BA%D0%BE%D0%BC%D0%B8%D1%81%D1%81%D0%B8%D0%B8%20%D0%B2%20%D0%B0%D1%81%D0%BF%D0%B8%D1%80%D0%B0%D0%BD%D1%82%D1%83%D1%80%D0%B5_1.pdf">
                                    Положение о приемной комиссии в аспирантуре
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BF%D1%80%D0%B8%D0%B5%D0%BC%D0%B0%20%D0%BF%D0%BE%20%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0%D0%BC%20%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B0%D1%82%D1%83%D1%80%D1%8B_1.pdf">
                                    Правила приема по программам ординатуры
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BE%20%D0%BF%D1%80%D0%B8%D0%B5%D0%BC%D0%BD%D0%BE%D0%B9%20%D0%BA%D0%BE%D0%BC%D0%B8%D1%81%D1%81%D0%B8%D0%B8%20%D0%B2%20%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B0%D1%82%D1%83%D1%80%D0%B5_0.pdf">
                                    Положение о приемной комиссии в ординатуре
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BE%20%D0%A6%D0%B5%D0%BD%D1%82%D1%80%D0%B5%20%D0%BD%D0%B5%D0%BF%D1%80%D0%B5%D1%80%D1%8B%D0%B2%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%BC%D0%B5%D0%B4%D0%B8%D1%86%D0%B8%D0%BD%D1%81%D0%BA%D0%BE%D0%B3%D0%BE%20%D0%BE%D0%B1%D1%80%D0%B0%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F_3.pdf">
                                    Положение о Центре непрерывного медицинского образования
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B-%D0%BF%D1%80%D0%B8%D0%B5%D0%BC%D0%BD%D0%BE%D0%B9-%D0%BA%D0%BE%D0%BC%D0%B8%D1%81%D1%81%D0%B8%D0%B8-%D0%BD%D0%B0-%D0%BE%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5-%D0%BF%D0%BE-%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B0%D0%BC-%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B0%D1%82%D1%83%D1%80%D1%8B-%D0%B2-2016-%D0%B3%D0%BE%D0%B4%D1%83.docx">
                                    График работы приемной комиссии 2016
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%B2%D1%81%D1%82%D1%83%D0%BF%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D1%85%20%D0%B8%D1%81%D0%BF%D1%8B%D1%82%D0%B0%D0%BD%D0%B8%D0%B9%20%D0%B0%D1%81%D0%BF%D0%B8%D1%80%D0%B0%D0%BD%D1%82%D1%83%D1%80%D0%B0_0.docx">
                                    График вступительных испытаний аспирантура 2016
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/%20%D0%BF%D1%80%D0%BE%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B2%D1%81%D1%82%D1%83%D0%BF%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D1%85%20%D0%B8%D1%81%D0%BF%D1%8B%D1%82%D0%B0%D0%BD%D0%B8%D0%B9%202016_0.docx">
                                    График вступительных испытаний ординатура 2016
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="http://doc.uroline.ru/sites/default/files/-%20%D0%A4%D0%93%D0%91%D0%A3%20%D0%9D%D0%9C%D0%98%D0%A0%D0%A6%20%D0%9C%D0%B8%D0%BD%D0%B7%D0%B4%D1%80%D0%B0%D0%B2%D0%B0%20%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8.pdf">
                                    Лицензия ФГБУ "НМИРЦ" Минздрава России
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>