<div class="location">
    <div class="row location__uprow">
        <div class="container">
            <div class="col s12 m4 l4">
                <h5>Контакты</h5>
                <h6>Адрес:</h6>
                <span class="contacts__small_text">105425, Москва, ул. 3-я Парковая, 51</span>
                <h6>Как добраться</h6>

                <div class="map__zagluhka__da__mne__pohui__na__bem__ebaniy" style="width: 120px;
                    height:150px;
                    background-color: #004d40;
                    margin-top: 10px;
                    margin-left: 20px;">
                </div>
                <span class="contacts__small_text">С удовольствием ответим на Ваши вопросы</span>
            </div>
            <div class="col s12 m8 l8">
                <div class="map__zagluhka__da__mne__pohui__na__bem__ebaniy" style="width: 450px;
                    height:250px;
                    background-color: #004d40;
                    margin-top: 40px;
                    margin-left: 20px;">
                </div>
            </div>
        </div>
    </div>
    <div class="row location__downrow">
        <div class="container">
            <div class="col s12 m4 l4" style="padding-top: 30px;">
                <span class="contacts__small_text">Выберите любой удобный способ связаться с нами:</span>
                <br><br>
                <span class="contacts__small_text">По телефону:</span><span>+X(XXX)XXX-XX-XX</span>
                <br>
                <span class="contacts__small_text">По email:</span><span>XXX-XX-XX@yandex.ru</span>
                <br>
                <span class="contacts__small_text">Заполнив форму:</span>
            </div>
            <div class="col s12 m8 l8">
                <div class="forma__zagluhka__da__mne__pohui__na__bem__ebaniy" style="width: 450px;
                    height:200px;
                    background-color: #004d40;
                    margin-top: 40px;
                    margin-left: 20px;">
                </div>
            </div>
        </div>
    </div>
    {#    <div class = "smth_to_test" style = "height: 300px; background-color: red">#}
</div>