{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="news">

        <div class="news__img"></div>

        <div class="news__background__blue"></div>

        <div class="news__text__blue">
            Новости
        </div>

        <div class="container news__slider">
            <div class="row">
                <div class="col s12 slider news__slider__height">
                    <ul class="slides news__slider__ul__height">
                        <li>
                            <div class="caption center-align news__slider__text">
                                <img class="news__slider__img left" src="{% static 'img/ofisnii-zdaniy-chelzbinska.jpg' %}">
                                <div class="news__slider__text__title">
                                    Мужское репродуктивное здоровье
                                </div>
                                <div class="news__slider__text__description">Here's our small slogan.</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% for new_info in news_list %}
        {{ new_info.title }}
        {{ new_info.content }}
        {{ new_info.link }}
        {{ new_info.date_published }}
        {{ new_info.image }}
    {% endfor %}
{% endblock %}