{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="news">

        <div class="news__img"></div>

        <div class="news__background__blue"></div>

        <div class="news__text__blue">
            Новости
        </div>

        <div class="container news__slider">
            <div class="slider news__slider__height">
                <div class="row ">
                    <ul class="slides news__slider__ul__height">
                        {% for new_info in news_list %}
                            <li>
                                <div class="col s12 m3 l3">
                                    <img class="news__slider__img left" src="{{ new_info.image.url }}">
                                </div>
                                <div class="col s12 m9 l9">
                                    <p class="news__slider__text__title">
                                        {{ new_info.title }}
                                    </p>
                                    <p class="news__slider__text__description">
                                        {{ new_info.content }}
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="list-news">
        <div class="row">
            <div class="container">
                {% for el in header_news %}
                <a class="list-news__background__blue"  href="#">
                    <div class="col s12 m2 l2 list-news__date la">
                        {{ el.date_published|date:'d.m.Y' }}
                    </div>
                    <div class="col s12 m4 l4 list-news__title la">
                        {{ el.title }}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}