{% load staticfiles %}
<div class="partners">
    <div class="row">
        <div class="container">
            <div class="col s12 m4 l4 partners__holder">
                <div class="partners__big_circle">
                    <img src="{% static 'img/partners_strah.jpg' %}"/>

                    <div class="partners__small_circle">
                        <p>
                            15
                        </p>
                    </div>
                    <span class="partners__circle_span">страховых компаний</span>
                </div>

            </div>
            <div class="col s12 m4 l4 partners__holder">
                <div class="partners__big_circle">
                    <img src="{% static 'img/partners_company.jpg' %}"/>

                    <div class="partners__small_circle">
                        <p>
                            100
                        </p>
                    </div>
                    <span class="partners__circle_span">компаний партнеров</span>
                </div>


            </div>
            <div class="col s12 m4 l4 partners__holder">
                <div class="partners__big_circle">
                    <img src="{% static 'img/partners_people.jpg' %}"/>

                    <div class="partners__small_circle" align="center">
                        <p>
                            475
                        </p>
                    </div>
                    <span class="partners__circle_span">сотрудников</span>
                </div>

            </div>
        </div>
    </div>
    <div class="row partners__pictures">
        <div class="container partners__container">

            <div class="col s12 m4 l4 partners__picture">
                <img src="{% static 'img/human-resources.png' %}"/>
                 <p class="partners__picture__text__white">
                     СТРАХОВЫЕ КОМПАНИИ
                 </p>
            </div>

            <div class="col s12 m4 l4 partners__picture">
                <img src="{% static 'img/friends-talking.png' %}"/>
                <p class="partners__picture__text__white">
                     ПАРТНЕРЫ
                 </p>
            </div>

            <div class="col s12 m4 l4 partners__picture">
                <img src="{% static 'img/group.png' %}"/>
                <p class="partners__picture__text__white">
                     ВАКАНСИИ
                 </p>
            </div>
        </div>
    </div>
</div>