<div class="partners">
    <div class="row">
        <div class="container">
            <div class="col s12 m4 l4 partners__holder">
                <div class="partners__big_circle">
                    <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg'/>

                    <div class="partners__small_circle">
                        <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg'/>
                    </div>
                    <span class="partners__circle_span">страховых компаний</span>
                </div>

            </div>
            <div class="col s12 m4 l4 partners__holder">
                <div class="partners__big_circle">
                    <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg'/>

                    <div class="partners__small_circle">
                        <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg'/>
                    </div>
                    <span class="partners__circle_span">компаний партнеров</span>
                </div>


            </div>
            <div class="col s12 m4 l4 partners__holder">
                <div class="partners__big_circle">
                    <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg'/>

                    <div class="partners__small_circle" align="center">
                        <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg'/>
                    </div>
                    <span class="partners__circle_span">сотрудников</span>
                </div>

            </div>
        </div>
    </div>
    <div class="row partners__pictures">
        <div class="container partners__container">

            <div class="col s12 m4 l4 partners__picture">
                <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg'/>
                     <span class="partners__picture__desc">
                         СТРАХОВЫЕ<br>КОМПАНИИ
                     </span>
            </div>

            <div class="col s12 m4 l4 partners__picture">
                <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg'/>
                     <span class="partners__picture__desc">
                         ПАРТНЕРЫ
                     </span>
            </div>

            <div class="col s12 m4 l4 partners__picture">
                <img src='http://s4.hostingkartinok.com/uploads/images/2013/12/7f16668ee19e767ca297d66f36084d21.jpg'/>
                     <span class="partners__picture__desc">
                         ВАКАНСИИ
                     </span>
            </div>
        </div>
    </div>
</div>