<div class="timeline__info__background">
    <div class="container">
        <div class="col s12">
            <section class="cd-horizontal-timeline">
                <div class="events-content">
                    <ol>
                        <li class="selected" data-date="10/04/1979">
                            <h2>Основание</h2>
                            <em>10 Апреля 1979</em>

                            <p>
                                Научно-исследовательский институт урологии – учреждение достаточно молодое, однако уже
                                имеет свою историю, которая начинается 10 апреля 1979 года, когда советом министров СССР
                                было издано распоряжение «Об организации при 2-м Московском медицинском институте им.
                                Н.И. Пирогова Минздрава РСФСР научно-исследовательского института урологии на базе
                                проблемной научно-исследовательской уронефрологической лаборатории». История образования
                                института неразрывно связана с кафедрой урологии и оперативной нефрологии 2-го МОЛГМИ
                                им. Н.И. Пирогова и именем ее заведующего, а впоследствии — директора института,
                                академика РАМН, профессора Николая Алексеевича Лопаткина.
                            </p>
                        </li>
                        <li data-date="01/01/1980">
                            <em>Начало 1980</em>

                            <p>
                                К началу 1980 года в НИИ урологии перешло 17 научных сотрудников кафедры — член-корр.
                                АМН СССР А.Ф. Даренков, профессора, доктора наук А.Л. Шабад, В.Г. Горюнов, Э.К. Яненко,
                                В.Я. Симонов, И.С. Ярмолинский, М.В. Чудновская, кандидаты наук Б.М. Крендель, Н.В.
                                Махлин, Б.С. Гусев, Н.К. Дзеранов, Л.Г. Кульга, А.П. Данилков, Е.А. Стецюк, А.С.
                                Ларионов, Н.П. Ненашева.
                            </p>
                        </li>
                        <li data-date="14/01/1981">
                            <em>14 Января 1981</em>

                            <p>
                                Правительством г.Москвы предложено создать на базе 47-й многопрофильной больницы
                                специализированную урологическую клинику, выделив ее как базу НИИ урологии (3-я Парковая
                                ул., 51) (Приказ ГУЗМа №14 от 14.01.1981г.).
                            </p>
                        </li>
                        <li data-date="25/05/1981">
                            <h2>Самостоятельное учреждение</h2>
                            <em>25 Мая 1984</em>

                            <p>
                                25 мая 1984 года Совет Министров издает распоряжение №655-р «О преобразовании
                                научно-исследовательского института урологии Минздрава РСФСР при 2-ом Московском
                                медицинском институте им. Н.И. Пирогова в самостоятельное медицинское учреждение»; 29
                                июня того же года Минздравом РСФСР издается соответствующий приказ №522, а Минздрав СССР
                                делает институт головным лечебным учреждением страны в области урологии.
                            </p>
                        </li>
                        <li data-date="01/01/1982">
                            <h2>Диссертационный совет</h2>
                            <em>с 1985</em>

                            <p>
                                При НИИ урологии МЗ РФ с 1985 года действует Диссертационный Совет. За годы работы
                                совета в нем было защищено более трехсот научных работ.
                            </p>
                        </li>
                        <li data-date="30/11/1982">
                            <h2>Новый корпус</h2>
                            <em>30 Ноября 1992</em>

                            <p>
                                30 ноября 1992 г. открывается новый 11-этажный клинический корпус на 100 коек общей
                                площадью 11165 кв. метров, оснащенный современным лечебно-диагностическим оборудованием.
                                На его базе создается первая в нашей стране клиника детской урологии, где
                                концентрируются практически все известные современные технологии диагностики и лечения
                                детского контингента больных.
                            </p>
                        </li>
                        <li data-date="01/05/1983">
                            <h2>Межведомственный научный совет</h2>
                            <em>1993</em>

                            <p>
                                В 1993 году на базе НИИ Урологии создается Межведомственный научный совет по проблемам
                                урологии и нефрологии, в который входят 9 комиссий по различным отраслям уро-нефрологии.
                                В функции головного учреждения входит координация научной деятельности 26 кафедр и 22
                                курсов по урологии в региональных медицинских учреждениях. В последующие годы за
                                Институтом было закреплено право вести не только научную и клиническую деятельность, но
                                и хозяйственную, а в 1995 году он получает лицензию Государственного комитета РФ по
                                высшему образованию на право ведения образовательной деятельности в сфере
                                послевузовского, дополнительного профессионального образования.
                            </p>
                        </li>
                        <li data-date="01/01/1984">
                            <em>1995</em>

                            <p>
                                С 1995 года научные исследования возглавляет профессор Э.К. Яненко, посвятившая большую
                                часть своих исследований изучению этиологии, патогенеза и методам оперативного лечения
                                мочекаменной болезни и особенно наиболее тяжелой ее форме — коралловидному нефролитиазу
                            </p>
                        </li>
                        <li data-date="02/03/1984">
                            <h2>Event title here</h2>
                            <em>2 Марта 1999</em>

                            <p>
                                2 марта 1999 года Государственное федеральное учреждение здравоохранения —
                                Научно-исследовательский институт урологии Минздрава РФ — в соответствии с федеральным
                                законом «О науке и государственной научно-технической политике» одним из первых среди
                                медицинских НИИ прошел государственную аккредитацию и получил свидетельство (№ 997)
                                Министерства науки и технологий, подтверждая тем самым свой высокий авторитет,
                                известность и признание.
                            </p>
                        </li>
                        <li data-date="01/01/1985">
                            <em>2001</em>

                            <p>
                                С 2001 года вторым заместителем директора по науке назначен молодой перспективный ученый
                                и организатор О.И. Аполихин, также возглавлявший инновационный отдел.
                            </p>
                        </li>
                        <li data-date="01/01/1986">
                            <em>2005</em>

                            <p>
                                C 2005 года заведующим по научной деятельности стал А.Г. Мартов, до этого возглавлявший
                                отдел эндоурологии и новых уротехнологий с 1991 года.
                            </p>
                        </li>
                        <li data-date="01/01/1987">
                            <em>Начало 2007</em>

                            <p>
                                В начале 2007 года произошла смена поколений: с апреля 2007 года директором института
                                назначается Аполихин Олег Иванович Аполихин О.И., Н.А.Лопаткин переходит на должность
                                почетного директора. Заместителями директора по научной работе назначаются Сивков Андрей
                                Владимирович Сивков А.В., Павлов Андрей Юрьевич Павлов А.Ю., Кудрявцев Ю.В., лечебную
                                работу возглавляет Чернышев Игорь Владиславович Чернышев И.В.. Заместителем директора по
                                консультативной работе назначается Даренков Сергей Петрович Даренков С.П., заместитель
                                директора по издательской деятельности – Мартов А.Г. </p>
                        </li>
                        <li data-date="01/01/1988">
                            <em>2014</em>

                            <p>
                                В 2014 году был издан Приказ МЗ РФ №218 от 17.05.2014 "О реорганизации ФГБУ «Московский
                                научно исследовательский онкологический институт им. П.А. Герцена» Минздрава России,
                                ФГБУ «Медицинский радиологический научный центр» Минздрава России и ФГБУ
                                «Научно-исследовательский институт урологии» Минздрава России в форме присоединения
                                второго и третьего учреждения к первому". </p>
                        </li>
                    </ol>
                </div>
                <div class="timeline">
                    <div class="events-wrapper">
                        <div class="events">
                            <ol>
                                <li><a href="#0" data-date="10/04/1979" class="selected">1979</a></li>
                                <li><a href="#0" data-date="01/01/1980">1980</a></li>
                                <li><a href="#0" data-date="14/01/1981">1981</a></li>
                                <li><a href="#0" data-date="25/05/1981">1984</a></li>
                                <li><a href="#0" data-date="01/01/1982">1985</a></li>
                                <li><a href="#0" data-date="30/11/1982">1992</a></li>
                                <li><a href="#0" data-date="01/05/1983">1993</a></li>
                                <li><a href="#0" data-date="01/01/1984">1995</a></li>
                                <li><a href="#0" data-date="02/03/1984">1999</a></li>
                                <li><a href="#0" data-date="01/01/1985">2001</a></li>
                                <li><a href="#0" data-date="01/01/1986">2005</a></li>
                                <li><a href="#0" data-date="01/01/1987">2007</a></li>
                                <li><a href="#0" data-date="01/01/1988">2014</a></li>
                            </ol>

                            <span class="filling-line" aria-hidden="true"></span>
                        </div>
                        <!-- .events -->
                    </div>
                    <!-- .events-wrapper -->

                    <ul class="cd-timeline-navigation">
                        <li><a href="#0" class="prev inactive">Prev</a></li>
                        <li><a href="#0" class="next">Next</a></li>
                    </ul>
                    <!-- .cd-timeline-navigation -->
                </div>
                <!-- .timeline -->
            </section>
        </div>
    </div>
</div>